<div class="page-header">
  {{ page.title }} <small><div class="date"><span>{{ page.date | date_to_long_string }}</span></div></small>
</div>

<div class="postcontent">
    {{ content }}
    <div class='tag pull-right'>
    {% unless page.tags == empty %}
    {% assign tags_list = page.tags %}
    {% include JB/tags_list %}
    {% endunless %}  
    </div>
</div>
    <hr>
    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><small><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></small></li>
      {% else %}
        <li class="prev disabled"><small><a>&larr; Previous</a></li></small>
      {% endif %}
        
      {% if page.next %}
       <li class="next"> <small><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></small></li>
      {% else %}
        <li class="next disabled"><small><a>Next &rarr;</a></small></li>
      {% endif %}
      </ul>
    </div>
    <hr>
    {% include JB/comments %}

  

