<div class="page-header">
 <span class="posttitle"><strong>{{ page.title }} </strong></span><small><span class="postdate pull-right">{{ page.date | date:"%Y-%m-%d"  }}</span></small>
</div>

<div class="postcontent">
    {{ content }}
    <div class='tag pull-right'>
    {% unless page.tags == empty %}
    {% assign tags_list = page.tags %}
    {% include JB/tags_list %}
    {% endunless %}  
    </div>
</div>
    <hr>
    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; {{ page.previous.title }}</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; 木有了</a></li>
      {% endif %}
        
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">{{ page.next.title }} &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>木有了 &rarr;</a></li>
      {% endif %}
      </ul>
    </div>
    <hr>
    {% include JB/comments %}

  

